@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Leaflet map full height */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.deadspot-marker {
  background: transparent !important;
  border: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
